{% extends "main/admin/admin_base.html" %}

{% load static %}


		{% block content %}

		
			<div class="xs-pd-20-10 pd-ltr-20">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Добавление Вариации</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="{% url "admin_home" %}">Главная страница</a></li>
									<li class="breadcrumb-item active" aria-current="page">
										Добавление Вариации
									</li>
								</ol>
							</nav>
						</div>	
					</div>
				</div>
				<hr>
                <div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<div class="pull-left">
							<h4 class="text-blue h4">Форма добавления Вариации</h4>
							<p class="mb-30">Заполните все бланки</p>
						</div>
					</div>
					<form method='POST' action="#">{% csrf_token %}
						<div>
							{% for i in form.errors %}
								{{i}}
							{% endfor %}
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Объем</label>
							<div class="col-sm-12 col-md-10">
								<input type="number" name="volum_ml"  class="form-control" placeholder="12345" required>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-12 col-md-2 col-form-label">Цена</label>
							<div class="col-sm-12 col-md-10">
								<input type="number" name="price"  class="form-control" placeholder="12345" required>
							</div>
						</div>
						 
						
						<button type="submit" class="btn btn-success btn-lg btn-block">
							Потвердить
						</button>
					</form>
			
							  
				<hr>

					
				<div class="footer-wrap pd-20 mb-20 card-box">
					Virus Oil Parfume - Admin Panel
 
				</div>
			</div>
		

		{% endblock %}

	